@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700,800,900);
/* _functions.scss */
/* line 5, scss/style.scss */
HTML, BODY {
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 300;
  color: white;
  margin: 0;
  padding: 0;
}

/* line 15, scss/style.scss */
DIV {
  margin: 0;
  padding: 0;
}

/* line 20, scss/style.scss */
A {
  text-decoration: none;
  border: none;
  outline: none;
  color: #fff;
}

/* line 27, scss/style.scss */
H1, H6, H2, H3, H4, H5 {
  font-family: 'Raleway';
  font-weight: 600;
  padding: 0 5px;
  margin: 0;
  display: block;
}

/* line 35, scss/style.scss */
.right, .alignright {
  float: right;
}

/* line 37, scss/style.scss */
.aligncenter {
  text-align: center;
}

/* line 39, scss/style.scss */
.left, .alignleft {
  float: left;
}

/* line 41, scss/style.scss */
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
/* line 45, scss/style.scss */
ul li {
  display: inline-block;
}

/* line 50, scss/style.scss */
H1 {
  font-size: 46px;
  line-height: 60px;
}

/* line 51, scss/style.scss */
H2 {
  font-size: 30px;
  line-height: 36px;
}

/* line 52, scss/style.scss */
H3 {
  font-size: 26px;
  line-height: 32px;
}

/* line 53, scss/style.scss */
H4 {
  font-size: 22px;
  line-height: 28px;
}

/* line 54, scss/style.scss */
H5 {
  font-size: 18px;
  line-height: 22px;
}

/* line 55, scss/style.scss */
H6 {
  font-size: 14px;
  line-height: 20px;
}

/* line 57, scss/style.scss */
.middle {
  display: block;
  width: 850px;
  margin: 0 auto;
  height: auto;
  color: #000;
}
/* line 64, scss/style.scss */
.middle .headline {
  display: block;
  width: auto;
  padding: 10px 0px;
}
/* line 69, scss/style.scss */
.middle .headline img {
  display: inline-block;
  vertical-align: middle;
}
/* line 74, scss/style.scss */
.middle .headline h6 {
  display: inline-block;
  vertical-align: middle;
}
/* line 79, scss/style.scss */
.middle .headline i {
  margin-top: 18px;
  vertical-align: middle;
  background: #fff;
  color: #4e75f6;
  width: 16px;
  height: 16px;
  font-size: 16px;
  line-height: 16px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  padding: 4px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
/* line 96, scss/style.scss */
.middle .blue {
  display: block;
  width: auto;
  padding: 60px 100px;
  background: #4e75f6;
  color: #fff;
  margin-top: 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 3px inset, rgba(255, 255, 255, 0.7) 0px -1px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 3px inset, rgba(255, 255, 255, 0.7) 0px -1px 2px;
  box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 3px inset, rgba(255, 255, 255, 0.7) 0px -1px 2px;
}
/* line 106, scss/style.scss */
.middle input {
  padding: 12px 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  font-size: 18px;
  line-height: 18px;
  font-family: 'Raleway';
  background: #fff;
  min-width: 270px;
  margin: 10px 0px;
  border: 0;
  outline: 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.7) 0px 1px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.7) 0px 1px 2px;
  box-shadow: rgba(0, 0, 0, 0.7) 0px 1px 2px;
}
/* line 119, scss/style.scss */
.middle input.one {
  margin-right: 30px;
}
/* line 123, scss/style.scss */
.middle input.large {
  width: 450px;
}
/* line 129, scss/style.scss */
.middle .imagehold {
  position: relative;
  display: block;
  width: auto;
  height: 237px;
  padding: 0;
  background: #fff;
  color: #000;
}
/* line 138, scss/style.scss */
.middle .imagehold h6 {
  font-size: 11px;
  font-weight: 300;
  padding-right: 80px;
  line-height: 12px;
}
/* line 145, scss/style.scss */
.middle .imagehold h5 {
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 400;
  padding-right: 80px;
  line-height: 14px;
}
/* line 153, scss/style.scss */
.middle .imagehold img {
  display: inline-block;
  vertical-align: top;
}
/* line 158, scss/style.scss */
.middle .imagehold .hang {
  position: absolute;
  right: 30px;
  top: 20px;
}
/* line 164, scss/style.scss */
.middle .imagehold .rightside {
  display: inline-block;
  width: 360px;
  vertical-align: top;
  height: 237px;
}
/* line 171, scss/style.scss */
.middle .imagehold .button {
  color: #000;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  padding: 20px 30px;
  margin-right: 15px;
  font-weight: 600;
  cursor: pointer;
  background: #ffca02;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  min-width: 90px;
  display: inline-block;
}
/* line 186, scss/style.scss */
.middle .imagehold .under {
  font-size: 11px;
  line-height: 11px;
  text-align: center;
  padding: 10px 0px;
  margin-right: 15px;
  font-weight: 400;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  width: 150px;
  display: inline-block;
}
/* line 199, scss/style.scss */
.middle .imagehold .last {
  font-size: 11px;
  line-height: 14px;
  margin-top: 15px;
  color: #fff;
}
/* line 209, scss/style.scss */
.middle .whitebox {
  display: block;
  width: auto;
  padding: 20px 40px;
  background: #fff;
  color: #000;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.7) 0px 1px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.7) 0px 1px 2px;
  box-shadow: rgba(0, 0, 0, 0.7) 0px 1px 2px;
}
/* line 218, scss/style.scss */
.middle .whitebox h6 {
  font-size: 13px;
  font-weight: 400;
  padding-bottom: 10px;
}
/* line 225, scss/style.scss */
.middle .whitebox .mi {
  position: relative;
  margin: 0px;
  width: 142px;
  padding: 15px;
  font-size: 12px;
  line-height: 20px;
  background: #fff;
  color: #000;
  text-align: left;
  display: inline-block;
  font-weight: 400;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 2px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 2px;
  cursor: pointer;
}
/* line 240, scss/style.scss */
.middle .whitebox .mi.m {
  margin: 0px 20px;
}
/* line 244, scss/style.scss */
.middle .whitebox .mi .dot {
  position: absolute;
  top: 21px;
  right: 30px;
  width: 8px;
  height: 8px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background: #2aab12;
}
/* line 254, scss/style.scss */
.middle .whitebox .mi i {
  font-size: 18px;
  line-height: 20px;
  width: 20px;
  height: 20px;
  text-align: center;
  vertical-align: middle;
  padding: 5px 6px;
  margin: -5px;
  margin-right: -15px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 266, scss/style.scss */
.middle .whitebox .mi i.sign {
  -webkit-box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 1px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 1px inset;
  box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 1px inset;
  background: #4e75f5;
  color: #fff;
  margin-right: 10px;
}
/* line 273, scss/style.scss */
.middle .whitebox .mi i.icon-remove {
  font-size: 12px;
  line-height: 20px;
}

/* line 284, scss/style.scss */
.page {
  position: relative;
  min-height: 850px;
  min-width: 850px;
  display: block;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

/* line 294, scss/style.scss */
.block {
  display: block;
}

/* line 298, scss/style.scss */
.con {
  display: inline-block;
}

/* line 302, scss/style.scss */
#footer-con {
  width: 100%;
  min-height: 190px;
  padding: 30px 0px;
  background: #303030;
  color: #fff;
  margin-top: 0px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 3px inset, rgba(255, 255, 255, 0.7) 0px 1px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 3px inset, rgba(255, 255, 255, 0.7) 0px 1px 2px;
  box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 3px inset, rgba(255, 255, 255, 0.7) 0px 1px 2px;
}
/* line 311, scss/style.scss */
#footer-con .footer {
  width: 850px;
  margin: 0 auto;
  display: block;
  height: 100%;
  text-align: center;
  font-weight: 700;
}
/* line 319, scss/style.scss */
#footer-con .footer img {
  display: inline-block;
  margin: 11px;
}
/* line 324, scss/style.scss */
#footer-con .footer .linklist {
  margin: 0 auto;
  margin-top: 20px;
}
/* line 328, scss/style.scss */
#footer-con .footer .linklist a {
  padding: 15px;
  font-height: 14px;
}
