@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700,800,900);
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);
/* _functions.scss */
/* line 7, scss/style.scss */
HTML, BODY {
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 300;
  color: white;
  margin: 0;
  padding: 0;
}

/* line 17, scss/style.scss */
DIV {
  margin: 0;
  padding: 0;
}

/* line 22, scss/style.scss */
A {
  text-decoration: none;
  border: none;
  outline: none;
  color: #fff;
}

/* line 29, scss/style.scss */
H1, H6, H2, H3, H4, H5 {
  font-family: 'Raleway';
  font-weight: 300;
  padding: 0 5px;
  margin: 0;
  display: block;
}

/* line 37, scss/style.scss */
.right, .alignright {
  float: right;
}

/* line 39, scss/style.scss */
.aligncenter {
  text-align: center;
}

/* line 41, scss/style.scss */
.left, .alignleft {
  float: left;
}

/* line 43, scss/style.scss */
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
/* line 47, scss/style.scss */
ul li {
  display: inline-block;
}

/* line 52, scss/style.scss */
H1 {
  font-size: 46px;
  line-height: 60px;
}

/* line 53, scss/style.scss */
H2 {
  font-size: 30px;
  line-height: 36px;
}

/* line 54, scss/style.scss */
H3 {
  font-size: 26px;
  line-height: 32px;
}

/* line 55, scss/style.scss */
H4 {
  font-size: 22px;
  line-height: 28px;
}

/* line 56, scss/style.scss */
H5 {
  font-size: 18px;
  line-height: 22px;
}

/* line 57, scss/style.scss */
H6 {
  font-size: 14px;
  line-height: 20px;
}

/* line 59, scss/style.scss */
.content {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  z-index: 11;
  display: block;
  width: auto;
  height: auto;
}

/* line 69, scss/style.scss */
.full-content {
  position: relative;
  margin: 0 auto;
  z-index: 10;
  display: block;
  width: auto;
  height: auto;
  min-width: 850px;
}
/* line 78, scss/style.scss */
.full-content.light {
  background: #fff;
}

/* line 83, scss/style.scss */
.top-menu {
  padding: 16px 12px;
  display: block;
  width: auto;
}
/* line 88, scss/style.scss */
.top-menu.light {
  color: #303030;
  height: 34px;
}
/* line 92, scss/style.scss */
.top-menu.light a {
  color: #303030;
  padding: 14px 12px;
}
/* line 98, scss/style.scss */
.top-menu.light .button a {
  color: #fff;
}
/* line 103, scss/style.scss */
.top-menu.light .logo {
  height: 54px;
  width: auto;
  margin-top: -8px;
}
/* line 111, scss/style.scss */
.top-menu img {
  display: inline-block;
  cursor: pointer;
  vertial-align: middle;
}
/* line 117, scss/style.scss */
.top-menu ul {
  padding: 0;
  margin: 0;
  display: inline-block;
  vertial-align: middle;
}
/* line 123, scss/style.scss */
.top-menu ul li {
  vertial-align: middle;
  line-height: 34px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}
/* line 131, scss/style.scss */
.top-menu ul li a {
  padding: 0px 10px;
  line-height: 34px;
}
/* line 136, scss/style.scss */
.top-menu ul li.button {
  background: #4e75f5;
  margin: 0px 10px;
  padding: 0px 10px;
  font-size: 14px;
  font-weight: 600;
  text-shadow: rgba(0, 0, 0, 0.7) 0px -1px 0px;
  text-transform: uppercase;
}

/* line 149, scss/style.scss */
#provide {
  display: block;
  margin: 0 auto;
}

/* line 154, scss/style.scss */
.centerme {
  display: block;
  margin: 20px auto;
}

/* line 159, scss/style.scss */
.middlecon {
  position: relative;
  width: 1100px;
  min-height: 900px;
  margin: 0px auto;
  margin-top: 3%;
  color: #333;
  font-weight: 400;
}
/* line 168, scss/style.scss */
.middlecon h1 {
  font-weight: 600;
  text-align: center;
  margin-bottom: 0px !important;
  text-shadow: rgba(255, 255, 255, 0.9) 0px 1px 0px;
}
/* line 175, scss/style.scss */
.middlecon .icon {
  vertical-align: top;
  width: 30px;
  height: 30px;
  padding: 10px;
  line-height: 30px;
  font-size: 30px;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  margin: 2px;
  margin-top: 10px;
  text-align: center;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 1px -1px 1px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 1px -1px 1px inset;
  box-shadow: rgba(0, 0, 0, 0.3) 1px -1px 1px inset;
  cursor: pointer;
}
/* line 190, scss/style.scss */
.middlecon .icon i {
  text-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px;
}
/* line 194, scss/style.scss */
.middlecon .icon.fb {
  background: #48599a;
}
/* line 198, scss/style.scss */
.middlecon .icon.tw {
  background: #24c8fe;
}
/* line 202, scss/style.scss */
.middlecon .icon.gp {
  background: #ed583a;
}
/* line 206, scss/style.scss */
.middlecon .icon.li {
  background: #006a98;
}
/* line 210, scss/style.scss */
.middlecon .icon.wi {
  background: #0a517f;
}
/* line 214, scss/style.scss */
.middlecon .icon.ya {
  background: #790097;
}
/* line 219, scss/style.scss */
.middlecon .border {
  border: 1px #b4b4b5;
  border-style: dashed;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
}
/* line 227, scss/style.scss */
.middlecon .middleine {
  display: block;
  width: auto;
  margin: 15px;
  margin-right: -5px;
  padding: 10px;
}
/* line 234, scss/style.scss */
.middlecon .middleine .innermid {
  background: #fff;
  width: auto;
  display: block;
  padding: 20px 10px;
  margin: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 1px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 1px inset;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 1px inset;
}
/* line 245, scss/style.scss */
.middlecon h6 {
  padding: 0px 15px;
}
/* line 249, scss/style.scss */
.middlecon .dragit {
  margin: 10px 0px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
}
/* line 255, scss/style.scss */
.middlecon .headline {
  vertical-align: top;
  display: inline-block;
  padding: 10px 15px;
  height: 30px;
  margin: 10px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.95) 0px 0px 2px, rgba(0, 0, 0, 0.6) 0px 0px 2px inset;
  -moz-box-shadow: rgba(255, 255, 255, 0.95) 0px 0px 2px, rgba(0, 0, 0, 0.6) 0px 0px 2px inset;
  box-shadow: rgba(255, 255, 255, 0.95) 0px 0px 2px, rgba(0, 0, 0, 0.6) 0px 0px 2px inset;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
/* line 264, scss/style.scss */
.middlecon .headline .hang {
  margin: 0px;
  margin-right: -10px;
}
/* line 268, scss/style.scss */
.middlecon .headline .hang h6 {
  font-weight: 700;
  color: #fff;
  line-height: 30px;
}
/* line 275, scss/style.scss */
.middlecon .headline h5 {
  font-weight: 700;
  display: inline-block;
  float: left;
  font-size: 20px;
  line-height: 28px;
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.7) 1px 1px 1px;
}
/* line 285, scss/style.scss */
.middlecon .headline select {
  display: inline-block;
}
/* line 289, scss/style.scss */
.middlecon .headline.orange {
  background: #f55300;
}
/* line 293, scss/style.scss */
.middlecon .headline.gold {
  background: #f5ca00;
}
/* line 297, scss/style.scss */
.middlecon .headline.green {
  background: #6ece00;
}

/* line 303, scss/style.scss */
.smallblock {
  width: 250px;
  padding: 0px;
  height: auto;
  display: inline-block;
  vertical-align: top;
}
/* line 310, scss/style.scss */
.smallblock .third {
  min-width: 240px;
  display: inline-block;
  vertical-align: middle;
  padding: 5px;
  margin: 5px;
}
/* line 317, scss/style.scss */
.smallblock .third .inner {
  position: relative;
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}
/* line 324, scss/style.scss */
.smallblock .third .inner h4 {
  font-weight: 700;
  padding: 20px 0px;
}
/* line 331, scss/style.scss */
.smallblock .third .blue {
  position: relative;
  display: block;
  width: 100%;
  height: 50px;
  text-align: center;
  padding: 15px 0px;
  background: #4e75f5;
  color: #fff;
  margin-top: 30px;
  -webkit-border-radius: 0px 0px 5px 5px;
  -moz-border-radius: 0px 0px 5px 5px;
  -ms-border-radius: 0px 0px 5px 5px;
  -o-border-radius: 0px 0px 5px 5px;
  border-radius: 0px 0px 5px 5px;
}
/* line 347, scss/style.scss */
.smallblock .third .smallicos i {
  font-size: 18px;
  line-height: 20px;
  width: 20px;
  height: 20px;
  text-align: center;
  vertical-align: middle;
  padding: 5px 6px;
  margin: -5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 358, scss/style.scss */
.smallblock .third .smallicos i.sign {
  -webkit-box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 1px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 1px inset;
  box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 1px inset;
  background: #4e75f5;
  color: #fff;
  margin-right: 10px;
}
/* line 367, scss/style.scss */
.smallblock .third h5, .smallblock .third h3, .smallblock .third h6 {
  font-weight: 700;
}
/* line 371, scss/style.scss */
.smallblock .third .desc {
  display: inline-block;
  width: 140px;
  padding: 10px;
  margin-left: -30px;
  vertical-align: middle;
  text-align: left;
  font-weight: 500;
}
/* line 381, scss/style.scss */
.smallblock .third .switchhold {
  display: inline-block;
  width: 50px;
  padding: 0px;
  margin-left: -15px;
  vertical-align: middle;
}
/* line 389, scss/style.scss */
.smallblock .third .desct {
  display: block;
  padding: 10px;
  width: auto;
  font-size: 11px;
}
/* line 397, scss/style.scss */
.smallblock .third .img {
  margin-top: 30px;
  margin-bottom: 30px;
  max-width: 160px;
  max-height: 160px;
  display: inline-block;
  height: auto;
  height: auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
}
/* line 409, scss/style.scss */
.smallblock .third .dash {
  margin-top: -44px;
  width: 100%;
  height: auto;
}
/* line 417, scss/style.scss */
.smallblock .border {
  border: 1px #b4b4b5;
  border-style: dashed;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 5px;
  text-align: center;
}

/* line 427, scss/style.scss */
.halfblock {
  width: 570px;
  padding: 0px;
  height: auto;
  display: inline-block;
  vertical-align: top;
  margin: 5px 10px;
}
/* line 435, scss/style.scss */
.halfblock .pushme {
  margin-left: 100px;
  width: auto;
  display: block;
}
/* line 441, scss/style.scss */
.halfblock h4, .halfblock h5 {
  vertical-align: middle;
  display: inline-block;
  font-weight: 600;
  padding: 2px;
}
/* line 448, scss/style.scss */
.halfblock .icon {
  width: 30px;
  height: 30px;
  padding: 10px;
  text-align: center;
  display: inline-block;
}
/* line 456, scss/style.scss */
.halfblock .linepadding {
  padding: 10px;
  border: 1px #b4b4b5;
  border-style: dashed;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  display: inline-block;
  vertical-align: middle;
  margin: 10px;
}
/* line 466, scss/style.scss */
.halfblock .map {
  margin-top: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  border: 4px solid #b4b4b5;
}
/* line 472, scss/style.scss */
.halfblock .circle {
  border: 1px #4669dc;
  border-style: dashed;
  padding: 10px;
  text-align: center;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
/* line 483, scss/style.scss */
.halfblock input, .halfblock textarea {
  line-height: 20px;
  padding: 10px;
  border: 0;
  width: 520px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 491, scss/style.scss */
.halfblock label {
  margin-bottom: -10px;
  margin-left: 20px;
  display: block;
}
/* line 497, scss/style.scss */
.halfblock input {
  height: 20px;
}
/* line 501, scss/style.scss */
.halfblock textarea {
  min-height: 150px;
}

/* line 508, scss/style.scss */
.frombottom {
  position: absolute;
  width: 100%;
  bottom: 15%;
  left: 0;
}

/* line 515, scss/style.scss */
.buttonbig {
  font-size: 28px;
  font-weight: 800;
  line-height: 28px;
  padding: 25px 60px;
  text-transform: uppercase;
  -webkit-box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 10px;
  box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 10px;
  background: #ffba00;
  display: block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  min-width: 340px;
  max-width: 400px;
  text-align: center;
}

/* line 530, scss/style.scss */
.buttonsmall {
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  padding: 15px 30px;
  text-transform: uppercase;
  background: #ffba00;
  display: inline-block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  min-width: 150px;
  max-width: 200px;
  text-align: center;
  color: #fff;
  border: 0;
}
/* line 545, scss/style.scss */
.buttonsmall.blueb {
  background: #4e75f5;
}

/* line 550, scss/style.scss */
.whitebutton {
  margin: 15px;
  width: 200px;
  padding: 15px;
  font-size: 14px;
  line-height: 24px;
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  color: #000;
  text-align: left;
  display: inline-block;
  font-weight: 400;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 2px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 2px;
  cursor: pointer;
}
/* line 565, scss/style.scss */
.whitebutton i {
  float: right;
  font-size: 18px;
  line-height: 24px;
  color: #64cb00;
}
/* line 571, scss/style.scss */
.whitebutton i.icon-minus-sign {
  color: #b4b4b4;
}

/* line 577, scss/style.scss */
.whitebuttonsmall {
  margin: 0px 15px;
  width: 180px;
  padding: 15px;
  font-size: 12px;
  line-height: 20px;
  background: #fff;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  color: #000;
  text-align: left;
  display: inline-block;
  font-weight: 400;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 2px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 2px;
  cursor: pointer;
}
/* line 592, scss/style.scss */
.whitebuttonsmall i {
  font-size: 18px;
  line-height: 20px;
  width: 20px;
  height: 20px;
  text-align: center;
  vertical-align: middle;
  padding: 5px 6px;
  margin: -5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 603, scss/style.scss */
.whitebuttonsmall i.sign {
  -webkit-box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 1px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 1px inset;
  box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 1px inset;
  background: #4e75f5;
  color: #fff;
  margin-right: 10px;
}
/* line 610, scss/style.scss */
.whitebuttonsmall i.icon-minus-sign {
  color: #b4b4b4;
}
/* line 614, scss/style.scss */
.whitebuttonsmall i.icon-plus-sign {
  color: #64cb00;
}

/* line 620, scss/style.scss */
.bottomcon {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  height: 25%;
  width: 100%;
  min-height: 225px;
  max-height: 300px;
}

/* line 631, scss/style.scss */
#bottom-con {
  background: url("../images/background.jpg");
}
/* line 634, scss/style.scss */
#bottom-con #bottom {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  z-index: 3;
  display: block;
  width: auto;
  height: 100%;
  min-height: 225px;
  min-width: 850px;
  text-align: center;
}
/* line 646, scss/style.scss */
#bottom-con #bottom .stock {
  margin: 0 35px;
  margin-top: -84px;
}
/* line 651, scss/style.scss */
#bottom-con #bottom .down {
  margin-top: 30px;
}

/* line 657, scss/style.scss */
.page {
  position: relative;
  min-height: 850px;
  min-width: 850px;
  display: block;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 120%;
}

/* line 667, scss/style.scss */
.block {
  display: block;
}

/* line 671, scss/style.scss */
.con {
  display: inline-block;
}

/* line 675, scss/style.scss */
#footer-con {
  width: 100%;
  min-height: 190px;
  padding: 30px 0px;
  background: #303030;
  color: #fff;
  margin-top: 0px;
}
/* line 683, scss/style.scss */
#footer-con .footer {
  width: 850px;
  margin: 0 auto;
  display: block;
  height: 100%;
  text-align: center;
  font-weight: 700;
}
/* line 691, scss/style.scss */
#footer-con .footer img {
  display: inline-block;
  margin: 11px;
}
/* line 696, scss/style.scss */
#footer-con .footer .linklist {
  margin: 0 auto;
  margin-top: 20px;
}
/* line 700, scss/style.scss */
#footer-con .footer .linklist a {
  padding: 15px;
  font-height: 14px;
}
